<!-- Custom head -->

{{/*  M11 Icons  */}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fdb402">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#000000">




{{/*  Google Adsense Script  */}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6183346058041496"
crossorigin="anonymous"></script> 


<!-- Google Analytics Script) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEFLW1KBCP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEFLW1KBCP');
</script>
 
<!-- Twitch Embed Styling -->
<style>
  .hide {
      display: none
    }      
    /* The following css just makes sure the twitch video stays responsive */
    #twitch4 {
      border-radius: 0.25rem !important;
      position: fixed;
      bottom: 5px;
      right: 5px;
      outline: 2px solid #121212;
      width: 432px;
      height: 243px;
      overflow: hidden;
      z-index:1000;
    }
    
    #twitch4 object,
    #twitch4 iframe{
      border-radius: 0.25rem !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:1000;
    }   

    #ttvclose input{
      position: fixed;
      right:8px;
      bottom:220px;
      float:right;
      z-index:1001;
      background:transparent;
      color:white;
      border:none;  
    }  

</style> 

<!-- Twitch Video Embed -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<div id="twitch4" class="hide"></div>

<div id="ttvclose" class="hide"><input type="button" value="X" onclick="removeTTV()"></input></div>






<script>
  function removeTTV() {
      twitch4.remove();
      handleOffline();
  }

if (window.innerWidth > 500) {

  var options = {
    channel: "genedictb", // TODO: Change this to the streams username you want to embed
    width: 640,
    height: 360,
  };

  var player = new Twitch.Player("twitch4", options);

  player.addEventListener(Twitch.Player.READY, initiate)

  function initiate() {
    player.addEventListener(Twitch.Player.ONLINE, handleOnline);
    player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
    player.removeEventListener(Twitch.Player.READY, initiate);
  }

  function handleOnline() {
    document.getElementById("twitch4").classList.remove('hide');
    document.getElementById("ttvclose").classList.remove('hide');
    player.removeEventListener(Twitch.Player.ONLINE, handleOnline);
    player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
    player.setMuted(false);
  }

  function handleOffline() {
    document.getElementById("twitch4").classList.add('hide');
    document.getElementById("ttvclose").classList.add('hide');
    player.removeEventListener(Twitch.Player.OFFLINE, handleOffline);
    player.addEventListener(Twitch.Player.ONLINE, handleOnline);
    player.setMuted(true);
  }
}
</script>