<section class="section section-open-collective mt-3 py-5" style="color:white;background-color:rgb(0, 0, 0);">
    <div class="container">
      <h2 class="h2 mt-0 text-center" style="color:#fdb402;">Site Updates</h2>
      <p class="text-center">These are the most recent changes to the site</p>
      <p class="text-center mb-0 mt-4"><a class="btn btn-primary px-4 mb-2" href="{{"https://github.com/roelof69/pvebuilds"}}" target="_blank" role="button">GitHub Repository</a></p>
      <br>
      <div class="row justify-content-center text-center">
      <div class="col-lg-9 text-center">
      <p class="text-center" id="message">Loading</p>
      <p class="text-center" id="message2"></p>
      <p class="text-center" id="message3"></p>
      <p class="text-center" id="message4"></p>
      <p class="text-center" id="message5"></p>
      <p class="text-center" id="message6"></p>
      <p class="text-center" id="message7"></p>
      <p class="text-center" id="message8"></p>
      <p class="text-center" id="message9"></p>
      <p class="text-center" id="message10"></p>
    </div>
    </div>
    </div>

    <hr style="color:#fdb402;">
    <hr style="color:#fdb402;">

    <script>
      function time2TimeAgo(ts) {
        // This function computes the delta between the
        // provided timestamp and the current time, then test
        // the delta for predefined ranges.
    
        var d=new Date();  // Gets the current time
        var nowTs = Math.floor(d.getTime()/1000); // getTime() returns milliseconds, and we need seconds, hence the Math.floor and division by 1000
        var seconds = nowTs-ts;
    
        // more than two days
        if (seconds > 2*24*3600) {
         return Math.floor(seconds/(24*3600)) + " days ago";
        }
        if (seconds > 24*3600) {
         return Math.floor(seconds/(24*3600)) + " day ago";
        }
        if (seconds > 7200) {
         return Math.floor(seconds/3600) + " hours ago";
      }   
        if (seconds > 3600) {
           return "an hour ago";
        }
        if (seconds > 60) {
           return Math.floor(seconds/60) + " minutes ago";
        }
        if (seconds < 60) {
         return Math.floor(seconds) + " seconds ago";
      }
    }

      fetch('https://api.github.com/repos/roelof69/pvebuilds/commits?per_page=10')
      .then(res => res.json())
      .then(res => {
        document.getElementById('message').innerHTML = res[0].commit.author.name.replace("roelof69","Roelof")+" - "+res[0].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[0].commit.committer.date).getTime() / 1000))
        document.getElementById('message2').innerHTML = res[1].commit.author.name.replace("roelof69","Roelof")+" - "+res[1].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[1].commit.committer.date).getTime() / 1000))
        document.getElementById('message3').innerHTML = res[2].commit.author.name.replace("roelof69","Roelof")+" - "+res[2].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[2].commit.committer.date).getTime() / 1000))
        document.getElementById('message4').innerHTML = res[3].commit.author.name.replace("roelof69","Roelof")+" - "+res[3].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[3].commit.committer.date).getTime() / 1000))
        document.getElementById('message5').innerHTML = res[4].commit.author.name.replace("roelof69","Roelof")+" - "+res[4].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[4].commit.committer.date).getTime() / 1000))
        document.getElementById('message6').innerHTML = res[5].commit.author.name.replace("roelof69","Roelof")+" - "+res[5].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[5].commit.committer.date).getTime() / 1000))
        document.getElementById('message7').innerHTML = res[6].commit.author.name.replace("roelof69","Roelof")+" - "+res[6].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[6].commit.committer.date).getTime() / 1000))
        document.getElementById('message8').innerHTML = res[7].commit.author.name.replace("roelof69","Roelof")+" - "+res[7].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[7].commit.committer.date).getTime() / 1000))
        document.getElementById('message9').innerHTML = res[8].commit.author.name.replace("roelof69","Roelof")+" - "+res[8].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[8].commit.committer.date).getTime() / 1000))
        document.getElementById('message10').innerHTML = res[9].commit.author.name.replace("roelof69","Roelof")+" - "+res[9].commit.message.bold()+" - "+time2TimeAgo(Math.floor(new Date(res[9].commit.committer.date).getTime() / 1000))
      })
    </script>
  </section> 