{{ define "main" }}

<style>
  .transparent-bg {
    background: rgba(0, 0, 0, 0.753);
    position: fixed;
    top: 2%;
    bottom: 0;
    z-index: -1;
    width: 50vw;
    overflow: hidden;
  }

  @media screen and (max-width:1921px) {
    .transparent-bg {
      top: 6%;
      width: 66vw;
    }
  }

  @media screen and (max-width:1800px) {
    .transparent-bg {
      width: 85vw;
    }
  }

  @media screen and (max-width:1300px) {
    .transparent-bg {
      width: 90vw;
    }
  }

  .h5 {
    color: #fdb402;
  }
</style>

<!-- Twitch Embed Styling -->
<style>
  .hide {
      display: none
    }
    
    
    /* The following css just makes sure the twitch video stays responsive */
    #twitch,
    #twitch2,
    #twitch3 {
      border-radius: 0.25rem !important;
      z-index: 1000;
      position: fixed;
      bottom: 5px;
      right: 5px;
      outline: 2px solid #121212;
      width: 432px;
      height: 243px;
      overflow: hidden;
    }
    
    #twitch object,
    #twitch iframe,
    #twitch2 object,
    #twitch2 iframe,
    #twitch3 object,
    #twitch3 iframe {
      z-index: 1000;
      border-radius: 0.25rem !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width:600px) {
      #twitch,
      #twitch2,
      #twitch3 {
        width: 208px;
        height: 117px;
        top:175px;
        right: 5px;
      }
    }
  
    
</style>

<!-- Twitch Video Embed -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<div id="twitch" class="hide">
</div>
<div id="twitch2" class="hide">
</div>
<div id="twitch3" class="hide">
</div>

<!-- Twitch Video Embed m11-->

<script>
var options = {
  channel: "m11pve",
  width: 1280,
  height: 720,
  parent: ["pvebuilds.xyz"]
};
var options2 = {
  channel: "",
  width: 1280,
  height: 720,
  parent: ["pvebuilds.xyz"]
};
var options3 = {
  channel: "",
  width: 1280,
  height: 720,
  parent: ["pvebuilds.xyz"]
};
var player3 = new Twitch.Player("twitch3", options3);
var player2 = new Twitch.Player("twitch2", options2);
var player = new Twitch.Player("twitch", options);
player.addEventListener(Twitch.Player.READY, initiate)
player.addEventListener(Twitch.Player.OFFLINE, initiate2);
player.addEventListener(Twitch.Player.OFFLINE, initiate3);

function initiate() {
  player.addEventListener(Twitch.Player.ONLINE, handleOnline);
  player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
  player.removeEventListener(Twitch.Player.READY, initiate);
}

function handleOnline() {
  document.getElementById("twitch").classList.remove('hide');
  player.removeEventListener(Twitch.Player.ONLINE, handleOnline);
  player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
  player2.pause();
  player2.setMuted(true);
  player.setMuted(false);
  player.setVolume(0.1);
}

function handleOffline() {
  player.setMuted(true);
  document.getElementById("twitch").classList.add('hide');
  player.removeEventListener(Twitch.Player.OFFLINE, handleOffline);
}
function initiate2() {
  player2.addEventListener(Twitch.Player.ONLINE, handleOnline2);
  player2.addEventListener(Twitch.Player.OFFLINE, handleOffline2);
  player2.removeEventListener(Twitch.Player.READY, initiate2);
}

function handleOnline2() {
  document.getElementById("twitch2").classList.remove('hide');
  player2.removeEventListener(Twitch.Player.ONLINE, handleOnline2);
  player2.addEventListener(Twitch.Player.OFFLINE, handleOffline2);
  player2.setMuted(false);
  player2.setVolume(0.1);
}

function handleOffline2() {
  document.getElementById("twitch2").classList.add('hide');
  player2.removeEventListener(Twitch.Player.OFFLINE, handleOffline2);
  player2.addEventListener(Twitch.Player.ONLINE, handleOnline2);
  player2.setMuted(true);
}



function initiate3() {
  player3.addEventListener(Twitch.Player.ONLINE, handleOnline3);
  player3.addEventListener(Twitch.Player.OFFLINE, handleOffline3);
  player3.removeEventListener(Twitch.Player.READY, initiate3);
}

function handleOnline3() {
  document.getElementById("twitch3").classList.remove('hide');
  player3.removeEventListener(Twitch.Player.ONLINE, handleOnline3);
  player3.addEventListener(Twitch.Player.OFFLINE, handleOffline3);
  player3.setMuted(false);
  player3.setVolume(0.1);
}

function handleOffline3() {
  document.getElementById("twitch3").classList.add('hide');
  player3.removeEventListener(Twitch.Player.OFFLINE, handleOffline3);
  player3.addEventListener(Twitch.Player.ONLINE, handleOnline3);
  player3.setMuted(true);
}
</script>

<div class="transparent-bg"></div>
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0" style="color:#fdb402;">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead" style="color:white;">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" style="color:black;background-color:#fdb402;" href="nw/info/pve/faq/"
        role="button">{{ i18n "pve-info" }}</a>
      <br>
      <a class="btn btn-primary btn-lg px-4 mb-2" style="color:black;background-color:#fdb402;" href="/builds"
        role="button">{{ "Builds" }}</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" style="color:black;background-color:#fdb402;" href="/skills"
        role="button">{{ "Skilltrees" }}</a>
      {{/* <p class="meta" style="color:rgb(189, 189, 189);">Created by Roelof. <a
          href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
      */}}
    </div>
  </div>
</section>


{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}

<section class="section section-sm" style="margin-top:-2%;">
  <div class="container" style="color:white;">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h2"><a href="https://twitch.tv/M11PvE" target="_blank" style="color:#6441a5e1;">Twitch</a></h2>
        <p><a class="h5" href="https://twitch.tv/M11PvE" target="_blank">→ <u>Watch us on Twitch</u> ←</a><br> We stream
          25 Mutation runs per week.<br>Subscribers help fund the development of this site.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h2"><a href="https://discord.gg/M11" target="_blank" style="color:#5865f2b2;">Discord</a></h2>
        <a class="h5" href="https://discord.gg/M11" target="_blank">→ <u>Join the M11 Discord server</u> ← </a>
        <br>
        If you have any questions, comments, or suggestions please message <a
          href="https://discord.com/users/144300697230376960" target="_blank">Roelof</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h2"><a href="https://youtube.com/M11PvE" target="_blank" style="color:#ff000091;">YouTube</a></h2>
        <p><a class="h5" href="https://youtube.com/M11PvE" target="_blank">→ <u>Watch us on Youtube</u> ← </a><br>All of
          our world records and personal
          bests are uploaded here.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h2 class="h4" style="color:#fdb402;">Contributors</h2>
        <p>Thanks to:<br><a style="color:#fdb402;"> Affluent | Perihelia | mynameisjono1 | Dopple | bigWino | SforSkelly
            | Funky | Hrodgir | Spuck McDuck </a><br> Trivv, Lohqq, consciousY, Ramen, BASEDSUPERLIT, hary, Zorax, Taron
          Malicos and HavokValor for contributing</p>
      </div>
    </div>
  </div>
</section>
{{ end }}


<!-- YT VIDEO BACKGROUND -->
<div style="position:fixed;top:0;left:0;height:100vh;width:100vw;z-index:-2;">
  <div id="player" class="bg" style="z-index:0;"></div>
</div>
<style>
  .bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118%;
    height: 118%;
    pointer-events: none;
    overflow: hidden;
  }

  @media screen and (max-width:1000px) {
    .bg {
      width: 165%;
      height: 165%;
    }
  }

  @media screen and (max-width:500px) {
    .bg {
      width: 400%;
      height: 400%;
    }
  }
</style>
<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '1280',
      width: '720',
      videoId: 'ZHO0ZnXQrww',
      playerVars: { 'autoplay': 1, 'playsinline': 1, 'loop': 1, 'list': "PLn2kD3sUIiokXPgqH53FUkZPcq3EA90ix" },
      events: {
        'onReady': onPlayerReady
      }
    });
  }
  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.mute();
    event.target.playVideo();
  }
</script>


{{ partial "main/latest-news.html" . -}}

<hr style="color:#fdb402;">

{{ partial "main/github-updates.html" . -}}

{{ end }}